@use "@styles/globalStyles.scss" as G;

.body {
  width: 100%;
  @include G.sectionPadding;

  &_wrapper {
    @include G.wrapper;
  }

  &_services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 40px;
  }

  &_skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;

    &_img {
      width: 64px;
      height: 64px;
    }
  }
}
