@use "@styles/mixin" as *;

.body {
  width: 100%;
  @include sectionPadding;

  &_wrapper {
    @include wrapper;
  }

  &_services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    @include breakpoint("xm") {
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
  }

  &_skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 12px;

    @include breakpoint("xm") {
      grid-template-columns: repeat(5, 1fr);
      grid-row-gap: 30px;
      grid-column-gap: 50px;
    }

    &_img {
      width: 64px;
      height: 64px;
    }
  }

  &_skill {
    cursor: pointer;

    &:hover {
      .name {
        opacity: 1;
      }
    }

    .name {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -100%);
      text-align: center;
      text-wrap: nowrap;
      font-size: 14px;
      font-weight: 600;
      opacity: 0;
      transition: all ease-in-out 0.2s;
    }
  }
}
