@use "@styles/mixin" as *;

.body {
  width: 100%;
  @include sectionPadding;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    @include mainLayout;

    @include breakpoint("sm") {
      grid-template-columns: 3fr 2fr;
      gap: 16px;
    }

    .info {
      align-self: center;

      h2 {
        margin-bottom: 20px;
      }

      button {
        margin-top: 50px;
      }
    }

    &_avatar {
      display: none;
      aspect-ratio: 1/1;
      border-radius: 100%;
      justify-self: center;

      @include breakpoint("sm") {
        display: block;
        width: 300px;
      }

      @include breakpoint("md") {
        width: 400px;
      }
    }
  }
}
