@use "@styles/globalStyles.scss" as G;
@use "@styles/mixin" as *;

.body {
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.2);
  overflow: hidden;
  @include sectionPadding;

  &_wrapper {
    @include wrapper;
  }

  &_portfolio {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 20px;
    place-items: center;

    &_wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;

      @include breakpoint("xm") {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      }
    }

    &_root,
    &_mask {
      background: transparent;
    }

    &_tab {
      font-weight: 700;
      font-family: "Rubik", sans-serif;
    }
  }
}
