$breakpoints: (
  "xxm": 360px,
  "xm": 640px,
  "sm": 768px,
  "md": 1024px,
  "lg": 1280px,
  "xl": 1440px,
  "xxl": 1920px,
);

@mixin breakpoint($name) {
  @media (min-width: map-get($breakpoints, $name)) {
    @content;
  }
}

@mixin mainLayout {
  max-width: 1440px;
  margin: auto;
}

@mixin sectionPadding {
  padding: 32px;

  @include breakpoint("xm") {
    padding: 60px;
  }

  @include breakpoint("sm") {
    padding: 80px 40px 60px;
  }

  @include breakpoint("md") {
    padding: 120px 40px 60px;
  }
}

@mixin wrapper {
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr;
  gap: 24px;
  @include mainLayout;

  @include breakpoint("sm") {
    gap: 36px;
  }

  @include breakpoint("md") {
    gap: 48px;
  }
}
