// Toggle Component
/** Sunny side */
$blue-background: #c2e9f6;
$blue-border: #72cce3;
$blue-color: #96dcee;
$yellow-background: #fffaa8;
$yellow-border: #f5eb71;

/** Dark side */
$indigo-background: #808fc7;
$indigo-border: #5d6baa;
$indigo-color: #6b7abb;
$gray-border: #e8e8ea;
$gray-dots: #e8e8ea;

/** general **/
$white: #fff;

// Leading Component
$loading-bg: #0f0f0f;
$loading-color: #0077c0;

$text-light-primary: #103055;
$text-light-secondary: #1b98d0;

$text-dark-primary: #e3ebf6;
$text-dark-secondary: #cd6118;

/** button */
$button-bg-primary: #040834;
$button-bg-secondary: #ff014f;

$color-heading: #202942;

/** footer */
$footer-light-bg: #040836;
$footer-dark-bg: #003d63;

$border: #dcdfe654;
$light-grey: #c6c6c6;
$black: #0f0f0f;
