$breakpoints: (
  "xxm": 360px,
  "xm": 540px,
  "sm": 768px,
  "md": 1024px,
  "lg": 1280px,
  "xl": 1440px,
  "xxl": 1920px,
);

@mixin breakpoint($name) {
  @media (max-width: map-get($breakpoints, $name)) {
    @content;
  }
}

@mixin mainLayout {
  max-width: 1440px;
  margin: auto;
}

@mixin sectionPadding {
  padding: 120px 40px 60px;
}

@mixin wrapper {
  display: grid;
  place-items: center;
  max-width: 1440px;
  margin: auto;
  grid-template-rows: auto 1fr;
  gap: 48px;
}

h1 {
  font-size: 5rem;
  font-family: "Bowlby One SC";
  font-weight: 900;

  @include breakpoint("sm") {
    font-size: 4rem;
  }

  @include breakpoint("xm") {
    font-size: 2rem;
  }
}
