@use "@styles/mixin" as *;
@use "@styles/variables" as *;

.body {
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.2);
  @include sectionPadding;

  &_wrapper {
    @include wrapper;
  }

  &_title {
    position: relative;
  }

  &_info {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Rubik", sans-serif;

    @include breakpoint("sm") {
      grid-template-columns: 1fr 450px;
      gap: 12px;
    }

    h4 {
      font-size: 32px;
      font-weight: 500;

      span {
        font-weight: 800;
        color: $button-bg-secondary;
      }
    }

    h5 {
      margin-top: 20px;
      font-size: 20px;
      display: flex;
      flex-wrap: wrap;
      opacity: 0.4;
      gap: 6px;
    }

    img {
      justify-self: center;
    }
  }
}
