@use "@styles/mixin" as *;

.body {
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 50;
  backdrop-filter: blur(10px);
  background-color: #00000006;

  @include breakpoint("sm") {
    height: 80px;
  }

  .wrapper {
    padding: 0 32px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    height: 100%;
    @include mainLayout;

    @include breakpoint("md") {
      grid-template-columns: auto 1fr auto;
    }

    .logo {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        height: 32px;
        aspect-ratio: 1/1;
      }
    }

    .root {
      justify-self: center;
      align-self: center;
      background-color: transparent;
    }

    .mask {
      border-radius: 40px;
      background-color: #21212165;
    }

    .tab {
      font-family: "Bowlby One SC";
      letter-spacing: 0.02em;
      transition: color 0.3s ease-in-out;
    }
  }
}

.navbar {
  display: none;
  justify-self: center;

  @include breakpoint("md") {
    display: block;
  }
}
