.body {
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;

  img {
    width: 100%;
    aspect-ratio: 9/5;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(0 0 3px black);
    transition: all ease-in-out 0.4s;
  }

  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}
