@use "@styles/globalStyles.scss" as G;

.body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--loading-bg);
  display: grid;
  place-items: center;
  z-index: 5000;

  h1 {
    font-size: 5rem;
    text-align: center;
    width: 100%;
    font-family: "Bowlby One SC";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
  }

  .mainText {
    color: transparent;
    -webkit-text-stroke: 2px var(--loading-color);
  }

  .outline {
    color: var(--loading-color);
    animation: animate 4s ease-in-out infinite;
  }
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 0%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
